body {
  margin:0px;
  padding:0px;
  /* background-image:linear-gradient(180deg, #4c6ca2 #001437); */
  color: #fff;
  letter-spacing: .3px;
  font-family: Poppins, sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.3;
}

.page-wrapper {

  background-image: linear-gradient(180deg, #4c6ca2, #001437);
  color:#fff;
  overflow:hidden;
}
/* PAGE PADDING */
.page-wrapper .page-padding{
  padding-top: 32px;
  padding-right:80px;
  padding-bottom: 32px;
  padding-left: 80px;
  margin-top:100px;
}

/* Navbar */
@media (max-width: 767px) {
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .navbar-menu {
    display: none;
  }
}

/* .navbar {
  overflow:hidden;
  top: 0;
  position:sticky;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), transparent);
  border-radius: 10px;
  border: solid #fff, 2px;
  max-width: 100%;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  margin-left: 20%;
  margin-right: 20%;
} */


@media screen and (max-width: 700px) {
  .nav-menu {
    border-bottom: 1px solid #fff;
    justify-content: space-between;
    align-items: center;
    display: flex;
  }
}

@media screen and (max-width: 991px) {
  .navbar-wrapper {
    padding-top: 1rem;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    position: relative;
  }
}

.navbar {
  z-index: 10;
  max-width: 100%;
  justify-content: center;
  padding-left: 5rem;
  padding-right: 5rem;
  display: flex;
  position: fixed;
  top: 5%;
  bottom: auto;
  left: 0%;
  right: 0%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), transparent);
  border-radius: 10px;
  border: solid #fff, 2px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}

.navbar-logo {
  margin-top: 10px;
  margin-left: 10px;
  display: flex;
  align-items: left;
  justify-content: center;
  max-width: 300px;
  max-height: 100px;
}

.navbar-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-item {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
}

.navbar-item:hover {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  color: #87f7f1;
}

/* Sections */

section {
  min-height: 100vh;

}


section .section-footer {
  text-align: right;
  padding-right: 10px;
}

section .section-footer .logo {
 max-width: 300px;
 max-height: 200px;
}
section .section-footer #span {
color:cornflowerblue
 }

/* Checkmarks für Listen */

ul li{
  list-style-type: "\2714";
  
}

ul li::first-line{
  color: #87f7f1;
}

/*Footer*/
footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerlogo {
  margin-top: 10px;
  margin-left: 10px;
  max-width: 45%;
  max-height: 200px;
  object-fit: scale-down;
  display: flex;
  align-items: left;
  justify-content: center;

}

footer .links {
  display: flex;
  justify-content: flex-end;
}
.section.footer {
  height: auto;
  min-height: auto;
}
.section {
  height: 100vh;
  min-height: 640px;
  position: relative;
}
section, summary {
  display: block;
}
 /* Sprachbutton Dropdown */